.Counter-brand {
  background-color: skyblue;
  width: 70%;
  margin: auto;
  padding: 30px;
  border: 3px solid blue;
  min-height: 50vh;
}

.btn-brand {
  width: 35%;
  margin: auto;
  padding-top: 40px;
}

.text {
  text-align: center;
  font-size: 50pt;
}
